---
import Layout from "../layouts/Layout.astro";
import HeroCarousel from "../components/HeroCarousel.astro";
---

<Layout>
    <section id="inicio">
        <HeroCarousel />
    </section>
</Layout>