---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import MenuLogoUrl from "../assets/logos/Menu.svg?url";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>César de León</title>

		<link rel="icon" type="image/svg+xml" href={MenuLogoUrl} />
	</head>

	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>